/* Example: widen content */
.wy-nav-content {
  max-width: 1000px;
}

.wy-side-nav-search a
{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  
  font-size: 1.25em;

  &::before
  {
    content: '';

    display: block;
    height: 2rem;
    width: 2rem;
    background-image: url(moon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;  
  }
}

.wy-nav-side
{
  padding-bottom: 0 !important
}

.ethical-rtd
{
  display: none; /* Remove adverts */
}
